{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Projets {% endblock %}

{% block contenu %}
        <div class="x_panel">
            <div>
                <div class="col-md-12">
                    <div>
                        <div class="x_title">
                            <h2>{{projet.libelle}}</h2>
                            {% if session.role == 1 or session.login == projet.responsable %}
                              <a href="#" class="btn btn-danger" style="float: right;" data-toggle="modal" data-target="#suppprojet">Supprimer</a>
                              <a href="index.php?page=projetmodif&id={{projet.id}}" class="btn btn-simpleduc" style="float: right;">Modifier le projet</a>
                            {% endif %}
                        <div class="clearfix"></div>
                    </div><div class="x_content">

                    <div class="col-md-9 col-sm-9 col-xs-12">

                      <ul class="stats-overview">
                        <li>
                          <span class="name"> Budget </span>
                          <span class="value text-success"> {{ projet.budget }} € </span>
                        </li>
                        <li>
                          <span class="name"> Date de lancement </span>
                          <span class="value text-success"> {{ projet.date_lancement }} </span>
                        </li>
                        <li>
                          <span class="name"> Date de livraison </span>
                          <span class="value text-success"> {{ projet.date_livraison }} </span>
                        </li>
                      </ul>
                      <br />

                      <div id="mainb" style="height:350px;">
                        <div class="x_content">
                            <ul class="list-unstyled msg_list">
                                <li class="leader">
                                <a>
                                    <span>
                                    <p class="textLeader">Responsable de projet</p>
                                    </span>
                                </a>
                                </li>
                                <li>
                                <a>
                                    <span class="image col-md-1">
                                        <div class="profile_img">
                                            <div id="crop-avatar-min">
                                            <!-- Current avatar -->
                                            <!-- <img class="img-responsive avatar-view" src="images/picture.jpg" alt="Avatar" title="Change the avatar"> -->
                                            <p><span style="text-transform: uppercase;">{{responsable.initial}}</p>
                                            </div>
                                        </div>
                                    </span>
                                    <div class="col-md-10">
                                        <span>
                                            <span>{{responsable.prenom}} {{responsable.nom}}</span>
                                        </span>
                                        <span class="formation">
                                            <span>{{responsable.email}}</span>
                                        </span>
                                        <span class="message">
                                            <strong>A propos : </strong> {% if responsable.idRole == 1 %} Administrateur {% else %} Utilisateur {% endif %}
                                        <!-- <strong>A propos : </strong> Web Design / Statistiques / Web Designer -->
                                        </span>
                                    </div>
                                        <span>
                                            <button type="button" class="btn btn-simpleduc btn-xs" style="float: right;">
                                            <a href="index.php?page=utilisateurinfo&id={{responsable.email}}" style="text-decoration: none; color: #fff;"><i class="fa fa-user"> </i> Voir le profil</a>
                                            </button>
                                        </span>
                                </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h2>Description</h2>
                            <p>{{projet.description}}</p>
                        </div>
                      </div>

                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <section class="panel">

                        <div class="x_title">
                          <h2>Détails du projet</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">

                          <div class="info-projet">
                            <p class="title">Equipe gérante</p>
                            <h4>
                              <a href="index.php?page=equipemembre&id={{equipe.id}}">{{equipe.libelle}}</a>
                            </h4>
                          </div>

                          <div class="info-projet">
                            <p class="title">Membres du projet</p>
                            {% for m in form.equipe %}
                              {% if m.idDev != responsable.email %}
                              <p><a href="index.php?page=utilisateurinfo&id={{m.idDev}}">{{m.prenom}} <span style="text-transform: uppercase;">{{m.nom}}</span></a></p>
                              {% endif %}
                            {% endfor %}
                          </div>
                        </div>

                      </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>
            </div>
        </div>
        
<!-- Modal  Ajout-->
{% include "projet/projet-supp.html.twig" %}
{% endblock %}